@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
body {
  font-family: "Poppins", sans-serif;
}
/* Hide scrollbar but still scrollable */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, Edge */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* for Internet Explorer and Edge */
  scrollbar-width: none;     /* for Firefox */
}
